.controls {
  display: flex;
  justify-content: center;

  .button {
    padding: .75rem 3rem;
  }

  // Select the Start or Pause button & not Clear.
  .button:first-child {
    margin-right: 1.5rem;
  }
}
